# Ignorar arquivos de backup
*.bkp

# Ignorar arquivos temporários do Word (terminam com #)
*.docx#

# Antigravity AI Engine & Local Agent Execution
.agents/
.agy/
*.agent.tmp

# Implementation plan md
.implementation_plan

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*