<div class="md:hidden p-4 bg-gray-800 text-white flex justify-between items-center">
  <span class="font-bold">Gerenciador de Rotinas</span>
  <button (click)="toggleSidebar()" class="text-white"><mat-icon>menu</mat-icon></button>
</div>
<div class="flex h-screen">
  <div
    class="fixed top-0 left-0 h-full w-64 bg-gray-800 text-white z-50 transform transition-transform duration-300 ease-in-out md:relative md:translate-x-0"
    [ngClass]="{ '-translate-x-full': !sidebarOpen, 'translate-x-0': sidebarOpen }"
  >
    <app-sidebar [username]="username"></app-sidebar>
  </div>
  <div class="flex-1 p-6 bg-gray-100 md:relative"><router-outlet></router-outlet></div>
</div>
