<div class="p-6 max-w-100">
  <h1 class="text-2xl font-bold mb-4">Edição de usuário</h1>

  @if (formReady) {
    <form [formGroup]="userEditForm" class="grid grid-cols-1 gap-2">
      <!-- Id -->
      <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput type="number" formControlName="id" />
      </mat-form-field>

      <!-- Status -->
      <mat-radio-group formControlName="status" class="flex flex-row gap-2">
        @for (status of userStatus; track status.index) {
          <mat-radio-button [value]="status.value">
            {{ status.description }}
          </mat-radio-button>
        }
      </mat-radio-group>

      <!-- Nome -->
      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>

      <!-- Login -->
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="login" />
      </mat-form-field>

      <!-- Senha -->
      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <!-- E-mail -->
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <!-- Perfil -->
      <mat-form-field appearance="outline">
        <mat-label>Perfil</mat-label>
        <mat-select formControlName="roles" multiple>
          @for (role of userRoles; track role.id) {
            <mat-option [value]="role.id">
              {{ role.description }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Data de criação -->
      <mat-form-field appearance="outline">
        <mat-label>Data de criação</mat-label>
        <input matInput type="text" formControlName="createdAt" />
      </mat-form-field>

      <!-- Data de alteração -->
      <mat-form-field appearance="outline">
        <mat-label>Data de alteração</mat-label>
        <input matInput type="text" formControlName="updatedAt" />
      </mat-form-field>

      <!-- Botões -->
      <div class="flex items-start gap-2">
        <button
          mat-flat-button
          class="mt-2 w-full bg-green-600! text-white! hover:bg-green-900!"
          (click)="editUser()"
        >
          <mat-icon>save</mat-icon>
          Salvar
        </button>

        <button
          mat-flat-button
          class="mt-2 w-full bg-red-600! hover:bg-red-900!"
          (click)="returnToUserSearch()"
        >
          <mat-icon>cancel</mat-icon>
          Cancelar
        </button>
      </div>
    </form>
  }
</div>
